<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yetti assesment</title>
</head>
<body>
    <header>
        <nav>
            <h1>Yetti</h1>
            <ul>
                <li>Home</li>
                <li>Products</li>
                <li>Contact us</li>
            </ul>
            <ul>
                <li>Register</li>
                <li>Login</li>
            </ul>
        </nav>
    </header>
    <section>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nostrum nesciunt aperiam quasi beatae expedita, officiis repellendus nulla earum cupiditate dolorem! Quasi ullam facilis hic sunt est illum fugit. Quam.
        </p>
    </section>
</body>
</html>